*{
	box-sizing: border-box;

	padding: 0;
}
body{
	background-color: #cad3d3;
}
.container{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.pricing-table-img {
	width: 100%;
}

.container>div{
	margin: 30px;
	width : 350px;
	background-color: white;
}   
.pricing-table-item{
	position: relative;
}
ul li{
	list-style-type: none;
}

h3{
	margin:0;
}
.pricing-table-sub,li:nth-child(even){
	background-color:  white;
	color: #7b8a94;
	padding: 10px;
}
li:nth-child(odd){
	background-color: #f4f6f7;
	padding: 10px;
	color: #7b8a94;
}

.price-tag{
	width : 120px;
	height : 120px;
	position: absolute;
	top: 0; 
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background-color: white;
}
.pricing-table-featured.price-tag{
	width : 120px;
	height : 120px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background-color: #2c2e3d;
}
.pricing-table-new{
	position: absolute;
	background-image:url("new.png");
	width : 70px;
	height: 70px;
	top: -5%;
	left: -5%;
}
.pricing-table-title-new{
	position: absolute;
	color: white;
	top : 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pricing-label{
	color:#bfc8cf;;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.price{
	font-size: 30px;
	color : #3c9ef8;
}
.pricing-table-featured .price{
	color : #973a73;
}
.pricing-table-basic-two .price{
	color : #32ad1e;
}

.pricing-table-title{
	position: absolute;
	top : 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 300;
	color: #f5f6f7;
	line-height: 25px;
}
.pricing-table-title>span{font-size:13px;}
.btn{
	display: inline-block;
	text-align: center;
	margin: 40px auto;
	padding: 10px 30px;
	border: 2px solid #2196f7;
	color : #2196f7;

}
.pricing-table-featured .btn{
	
	border: 2px solid #6c136f;
	color : #6c136f;
}
.pricing-table-basic-two .btn{
	border: 2px solid #32ad1e;
	color : #32ad1e;
}
.btn:hover{
	background-color: #2196f7;
	color: white;
	cursor: pointer;
	border: none;
}
.pricing-table-featured .btn:hover{
	background-color: #6c136f;
	color: white;
	cursor: pointer;
	border: none;
}
.pricing-table-basic-two .btn:hover{
	background-color: #32ad1e;
	color: white;
	cursor: pointer;
	border: none;
}